@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using BlazorConduit.Client.Models.Articles.Dtos
@using BlazorConduit.Client.Services.Contracts
@using BlazorConduit.Client.Store.State
@using Fluxor

@inject IStateFacade StateFacade
@inject IState<ArticleState> ArticleState

@if (Articles is null && IsLoading)
{
    <span>Loading articles...</span>
}
else if (!(Articles is null) && Articles.Any())
{
    foreach (var article in Articles)
    {
        <div class="article-preview">
            <div class="article-meta">
                @if (!(article.Author is null))
                {
                    <a style="cursor: pointer;" @onclick="() => StateFacade.GetUserProfile(article.Author.Username!)"><img src="@article.Author.Image" /></a>
                    <div class="info">
                        <a style="cursor: pointer;" @onclick="() => StateFacade.GetUserProfile(article.Author.Username!)" class="author">@article.Author.Username</a>
                        <span class="date">@article.CreatedAt.ToShortDateString()</span>
                    </div>
                }

                @if (!string.IsNullOrWhiteSpace(article.Slug))
                {
                    if (article.Favorited)
                    {
                        <button @onclick="() => StateFacade.UnfavoritePostFromArticle(article.Slug)" class="btn btn-primary btn-sm pull-xs-right">
                            <i class="ion-heart"></i> @article.FavoritesCount
                        </button>
                    }
                    else
                    {
                        <button @onclick="() => StateFacade.FavoritePostFromArticle(article.Slug)" class="btn btn-outline-primary btn-sm pull-xs-right">
                            <i class="ion-heart"></i> @article.FavoritesCount
                        </button>
                    }
                }
            </div>
            <a style="cursor: pointer;" @onclick="() => StateFacade.RetrieveArticle(article.Slug!)" class="preview-link">
                <h1>@article.Title</h1>
                <p>@article.Description</p>
                <span>Read more...</span>
                @if (!(article.TagList is null) && article.TagList.Any())
                {
                    <ul class="tag-list">
                        @foreach (var tag in article.TagList)
                        {
                            <li class="tag-default tag-pill tag-outline">@tag</li>
                        }
                    </ul>
                }
            </a>
        </div>
    }

    @* Article Pagination *@
    @if (!(ArticleState.Value.CurrentSearchRequest is null) && totalPages > 1)
    {
        <nav>
            <ul class="pagination">
                @for (var pageNumber = 1; pageNumber < totalPages; pageNumber++)
                {
                    var page = pageNumber;

                    if (pageNumber == ArticleState.Value.CurrentSearchRequest.Offset)
                    {
                        <li class="page-item active cursor-pointer">
                            <a class="page-link">@pageNumber</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item cursor-pointer" @onclick="() => OnPageSelected(page)">
                            <a class="page-link">@pageNumber</a>
                        </li>
                    }
                }
            </ul>
        </nav>
    }

}
else
{
    <span>No articles are here... yet.</span>
}

@code {

    private int totalPages;

    [Parameter]
    public IEnumerable<ArticleDto>? Articles { get; set; }

    [Parameter]
    public bool IsLoading { get; set; }

    [Parameter]
    public ArticleDto? MostRecentArticleInteraction { get; set; }

    [Parameter]
    public int PageLimit { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        ArticleState.StateChanged += UpdatePagination;
    }

    protected override void OnParametersSet()
    {
        // Update the last favorited/unfavorited article in the input list, if available
        if (!(Articles is null) && !(MostRecentArticleInteraction is null) && Articles.Any())
        {

            var existingArticle = Articles
                .FirstOrDefault(a => string.Equals(a.Slug, MostRecentArticleInteraction.Slug, StringComparison.CurrentCultureIgnoreCase));

            if (existingArticle is null)
            {
                return;
            }

            // Set the favorited state, depending on interaction
            existingArticle.Favorited = MostRecentArticleInteraction.Favorited;
            existingArticle.FavoritesCount = MostRecentArticleInteraction.FavoritesCount;

            // Re-render the article list
            StateHasChanged();
        }
    }

    private void OnPageSelected(int page)
    {
        if (ArticleState.Value.CurrentSearchRequest is null)
        {
            StateFacade.GetArticles(limit: 10, offset: page);
        }
        else
        {
            StateFacade.GetArticles(
                tag: ArticleState.Value.CurrentSearchRequest.Tag,
                author: ArticleState.Value.CurrentSearchRequest.Author,
                favorited: ArticleState.Value.CurrentSearchRequest.Favorited,
                limit: 10,
                offset: page);
        }
    }

    private void UpdatePagination(object sender, ArticleState state)
    {
        totalPages = state.TotalArticles / PageLimit + 1;

        StateHasChanged();
    }

    private string GetArticleUri(ArticleDto article) =>
        $"/article/{article.Slug}";

}
